body {
  background-color: #fffaf5;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 12px;
  color: #3c4685;
}

a {
  text-decoration: none;
  color: #3c4685;
  font-weight: 800;
}

a:hover {
  text-decoration: underline;
}

.illustrated-title img {
  display: block;
  margin: 40px auto 5px;
  max-width: 700px;
  transition: all 500ms ease-in-out;
}
.illustrated-title img:hover {
  display: block;
  margin: 40px auto 5px;
  max-width: 700px;
  transform: scale(1.1);
}

.input-bar {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 350px;
  border-radius: 12px;
  border: none;
  background-color: #c7cffe;
  border-color: #ff842a;
  text-align: center;
}

input::placeholder {
  font-weight: bold;
  opacity: 1;
  color: #8292ff;
}

.submit input {
  display: block;
  font-weight: 700;
  margin: 10px auto 0;
  background-color: #8292ff;
  color: #1c2143;
  padding: 5px 15px;
  border-radius: 30px;
  border: 1.5px solid #8292ff;
}

.main-illustration img {
  position: relative;
  top: -40px;
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

.results-container {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/116/219/original/RESULT-CONTAINER.png?1708544009")
    #8292ff;
  background-repeat: no-repeat;
  background-size: cover;
}
