body {
  background-color: #fffaf5;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 12px;
  color: #5a6acf;
}

a {
  text-decoration: none;
  color: #3947a2;
  font-weight: 800;
}

a:hover {
  text-decoration: underline;
}

.illustrated-books {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  justify-content: center;
  max-width: 500px;
}

.input-bar {
  padding: 10px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #8292ff;
  background-color: #fffaf5;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: light;
}

input::placeholder {
  font-weight: normal;
  opacity: 1;
  color: #858585;
}

.submit {
  background-color: #8292ff;
  color: #1e2974;
  padding: 5px 15px;
  margin-left: 10px;
  border-radius: 10px;
  border: 2px solid #8292ff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.form-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.input-examples {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #5a6acf;
  font-size: 12px;
  margin-bottom: 20px;
}

.results-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 3fr;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #5a6acf;
}

.book-teaser {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/116/273/original/RESULT-CONTAINER.png?1708593111");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  width: 520px;
  height: 160px;
  margin: 20px auto;
  padding: 60px;
}

.generating-recommendations {
  animation: blink-animation 1s steps(5, start) infinite;
  font-weight: 700;
  margin-top: 40px;
  font-size: 14px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media (max-width: 900px) {
  .form-elements {
    max-width: 70%;
  }
  .input-examples {
    text-align: center;
  }
  input::placeholder {
    font-size: 12px;
    opacity: 1;
    color: #858585;
  }
  .results-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 2fr;
  }

  .book-teaser {
    max-width: 390px;
    max-height: 121px;
    margin: 10px auto;
    padding: 40px;
    font-size: 16px;
  }

  footer {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .book-teaser {
    max-width: 312px;
    max-height: 97px;
    margin: 10px auto;
    padding: 30px;
    font-size: 16px;
  }
  .form-elements {
    max-width: 70%;
  }
  .input-bar {
    width: 120px;
  }
}
